%h1 Listing test_instances

%table.table.table-sm.table-fluid
  %thead.thead-default
    %tr
      %th Runtime [s]
      %th MESA Version
      %th Threads
      %th Compiler
      %th Version
      %th Platform
      %th Status
      %th Computer
      %th
      %th
      %th

  %tbody
    - @test_instances.each do |test_instance|
      %tr
        %td= test_instance.runtime_seconds
        %td= test_instance.mesa_version
        %td= test_instance.omp_num_threads
        %td= test_instance.compiler
        %td= test_instance.compiler_version
        %td= test_instance.computer.platform + ' ' + test_instance.platform_version
        %td
          -if test_instance.passed
            %span.text-success Passed
          -else
            %span.text-danger Failed
        %td= test_instance.computer.name
        %td= link_to 'Show', [ @test_case, test_instance]
        %td= link_to 'Edit', edit_test_case_test_instance_path(@test_case, test_instance)
        %td= link_to 'Destroy', [@test_case, test_instance], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Test instance', new_test_case_test_instance_path
