%p#notice= notice

%p
  %b Test Case
  %samp= link_to @test_case.name, @test_case
%p
  %b Runtime:
  = @test_instance.runtime_seconds
  seconds
%p
  %b MESA Version:
  = @test_instance.mesa_version
%p
  %b Computer:
  = link_to @test_instance.computer.name, computer_path(@test_instance.computer)
%p
  %b Threads:
  = @test_instance.omp_num_threads
%p
  %b Compiler:
  = @test_instance.compiler + ' ' + @test_instance.compiler_version
%p
  %b Platform:
  = @test_instance.computer.platform + ' ' + @test_instance.platform_version
%p
  %b Result:
  %span{ class: @passage_class }=@passage_status

= link_to 'Edit', edit_test_case_test_instance_path(@test_case, @test_instance)
\|
= link_to 'Back', test_case_path(@test_case)
