= bootstrap_form_for @test_case, inline_errors: false do |f|
  - if @test_case.errors.any?
    .form-row
      .col.alert.alert-danger
        %h4.alert-heading= "#{pluralize(@test_case.errors.count, "error")} prohibited this test case from being saved:"
        %p
          %ul
            - @test_case.errors.full_messages.each do |message|
              %li= message      
  .form-row
    .col.field
      = f.text_field :name, placeholder: 'wd2'
    .col.field
      = f.number_field :version_added, placeholder: 10000
  .form-row
    .col.field
      = f.text_area :description, placeholder: 'description of what the test does'
      %small.form-text.text-muted What does the test do? Describe the physical situation at hand (i.e. an accreting white dwarf) and what constitutes "success" (i.e. it undergoes several flashes and then settles into stable burning).
  .form-row
    .col.field
      = f.text_field :datum_1_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_1_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_2_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_2_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_3_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_3_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_4_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_4_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_5_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_5_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_6_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_6_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_7_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_7_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_8_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_8_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_9_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_9_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .form-row
    .col.field
      = f.text_field :datum_10_name, placeholder: 'name of additional data to be tracked'
    .col.field
      = f.select(:datum_10_type, options_for_select([['', nil], ['string', 'string'], ['float', 'float'], ['integer', 'integer'], ['boolean', 'boolean']]))
  .actions
    = f.submit 'Save', {class: "btn btn-lg btn-primary"}
