%p#notice= notice

.row
  .col-lg-6.col-xs12
    %h3
      %samp=@test_case.name + ':'
      %span{class:@last_version_class}=@last_version_status
    %table.table
      %tr
        %th{scope: 'row'} Module
        %td
          %samp=@test_case.module
      %tr
        %th{scope: 'row'} Description
        %td=@test_case.description
      %tr
        %th{scope: 'row'}
          %samp MESA
          Version
        %td=@test_case.last_version
      %tr
        %th{scope: 'row'} Values Tracked
        %td= @test_case.data_names.join(", ")
      %tr
        %th{scope: 'row'} Version Added
        %td= @test_case.version_added
    .btn-group{style: 'margin-bottom: 20px'}
      - if admin?
        = link_to 'Edit', edit_test_case_path(@test_case), class: 'btn btn-primary btn-lg text-light'
      = link_to 'View All Cases', test_cases_path, class: 'btn btn-secondary btn-lg text-light'
      - if admin?
        = link_to 'Delete', @test_case, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg text-light'
  .col-lg-6.col-xs-12
    %h3
      Test Instances for version
      =@test_case.last_version
    - if not @test_instances.empty?
      %table.table.table-hover.table-sm.table-responsive#test-detail
        %thead.thead-default
          %tr
            %th Date Uploaded
            %th Computer
            %th Runtime [s]
        %tbody
          - @test_instances.each do |instance|
            %tr{class: @test_instance_classes[instance] + " clickable-row", "data-href": test_case_test_instance_path(@test_case, instance)}
              %td=instance.created_at
              %td=instance.computer.name
              %td=instance.runtime_seconds
    - else
      .alert.alert-warning
        %h4 No tests have been run yet.
    .btn-group
      - if admin?
        = link_to 'Add Instance', new_test_case_test_instance_path(@test_case), class: 'btn btn-primary btn-lg text-light'
      = link_to 'View All Instances', test_case_test_instances_path(@test_case), class: 'btn btn-secondary btn-lg text-light'
