%p#notice= notice

.row
  .col
    %h3
      %samp=@test_case.name

.row
  .col-md-4.col-xs12
    %p
      %b Version added:
      = @test_case.version_added
    %p
      %b Description:
      = @test_case.description
    %p
      %b Last version tested:
      = @test_case.last_version
    %p
      %b Last version status:
      %span{class: @last_version_class}=@last_version_status
    %p
      %b Last test status:
      %span{class: @last_test_class}= @last_test_status
    %p
      %b Last tested:
      = @test_case.last_tested
    = link_to 'Edit', edit_test_case_path(@test_case)
    \|
    = link_to 'Back', test_cases_path
  .col-md-8.col-xs-12
    %table.table.table-hover.table-sm.table-responsive#test-detail
      %thead.thead-default
        %tr
          %th Date Uploaded
          %th Computer
          %th Runtime [s]
      %tbody
        - @test_instances.each do |instance|
          %tr{class: @test_instance_classes[instance] + " clickable-row", "data-href": test_instance_path(instance)}
            %td=instance.created_at
            %td=instance.computer.name
            %td=instance.runtime_seconds

