.row
  .col
    %h1 All Users

.row
  .col
    %table.table.table-responsive#test_summary
      %thead.thead-default
        %tr
          %th Name
          %th Email
          %th Computers
          - if current_user.admin?
            %th
          %th
          %th

      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td 
              -user.computers.each do |c| 
                -if c == user.computers[-1]
                  =link_to c.name, user_computer_path(user, c)
                -else
                  =link_to(c.name, user_computer_path(user, c)) + ', '
            %td= link_to 'Show', user_path(user)
            %td= link_to 'Edit', edit_user_path(user)
            - if current_user.admin?
              %td= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you absolutely sure you want to delete this user?\n\nAll of their computers and test data will be deleted, too."}
.row
  .col
    %a{href: new_user_path}
      %button.btn.btn-primary Create User
