= bootstrap_form_for @computer do |f|
  - if @computer.errors.any?  
    .form-row
      .col.alert.alert-danger
        %h4.alert-heading= "#{pluralize(@computer.errors.count, "error")} prohibited this test instance from being saved:"
        %p
          %ul
            - @computer.errors.full_messages.each do |message|
              %li= message
  .form-row
    .col.field
      = f.text_field :name, placeholder: "Compy 5000"
    .col.field
      = f.select :user_id, User.all.order(:name).collect { |user| [user.name, user.id] }, selected: current_user.id
      -# = f.text_field :user, placeholder: "Bill Paxton"
  .form-row
    .col.field
      = f.text_field :platform, placeholder: "macOS"
    .col.field
      = f.text_field :processor, placeholder: "2.7 GHz 12-Core Intel Xeon E5"
    .col.field
      = f.number_field :ram_gb, placeholder: 16
  .form-row
    .actions
      = f.submit 'Save', class: 'btn btn-primary btn-lg'
