%h1 Computers

%table.table
  %thead.thead-default
    %tr
      %th Name
      %th User
      %th Platform
      %th Processor
      %th Ram [GB]
      %th
      %th
      %th

  %tbody
    - @computers.each do |computer|
      %tr
        %td= computer.name
        %td= computer.user_name
        %td= computer.platform
        %td= computer.processor
        %td= computer.ram_gb
        %td= link_to 'Show', computer
        %td= link_to 'Edit', edit_computer_path(computer)
        %td= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Computer', new_computer_path, class: 'btn btn-primary btn-lg text-light'
